nav {
  display: none;
}

/* scroll down */
.scrolldown {
  display: none;
}

footer {
  display: none;
}

.columns.download {
  display: none;
}

#about {
  padding-top: 0;
  padding-bottom: 0;
}

#resume {
  padding-top: 0;
}

.page-break {
  display: block;
}
.page-break.work {
  padding-bottom: 180px;
}
.page-break.skills {
  padding-bottom: 50px;
}
.page-break.misc {
  padding-bottom: 230px;
}

.bar-expand {
   -webkit-print-color-adjust: exact;
}

.copyright {
  display: none;
}